<div fxLayout="row wrap" fxLayoutAlign="space-evenly">
  <div fxLayout="column">
    <app-skill-picker (selectedSkillEmitter)="doSearch($event)"></app-skill-picker>
  </div>
  <div fxLayout="column">
    <app-datepicker selectDatePlaceHolder="Select start date"
                    (dateEmitter)="performSearchWithStartDate($event)">
    </app-datepicker>
  </div>
  <div fxLayout="column">
    <app-datepicker selectDatePlaceHolder="Select end date"
                    (dateEmitter)="performSearchWithEndDate($event)">
    </app-datepicker>
  </div>
</div>


<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
      <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
      <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="skillName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Skill Name </th>
      <td mat-cell *matCellDef="let row"> {{row.skillName}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="yearsOfExperience">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Years of  Experience</th>
      <td mat-cell *matCellDef="let row"> {{row.yearsOfExperience}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToTrainingDetails(row)">
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
