<div style="display: block; margin-left: auto; margin-right: auto; width: 60%;">
  <mat-form-field class="search-form">
    <input matInput placeholder="Search Picture" (keyup)="applyFilter($event.target.value)" type="text">
  </mat-form-field>
  <button button="submit" mat-raised-button color="primary">Search</button>
  <br>

  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center"
       *ngIf="processedImages.length != 0">
    <mat-card class="card-picture" *ngFor="let picture of processedImages" (click)="display(picture)">
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column" [matTooltip]="picture.title">
        <span fxFlex="80%">{{truncateToFit(picture.title)}}</span>
      </mat-card-title>
      <img mat-card-image [src]="picture.img">
    </mat-card>
  </div>
  <div *ngIf="thereAreNoPictures()">
    <mat-toolbar>
      No pictures available
    </mat-toolbar>
  </div>
</div>
