<div>
  <div class="row">
    <div class="col-md-12">
      <img [src]="imageSummary.getFullImgUrl()"/>
    </div>
  </div>
  <div id="likes">
    <button mat-icon-button aria-label="Example icon-button with a heart icon" color="primary" (click)="like()">
      <mat-icon>thumb_up</mat-icon>{{imageSummary.getNumberOfLikes()}}
    </button>
    <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="showLikesDetails()">
      <mat-icon>more_horiz</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with a heart icon" color="warn" (click)="dislike()">
      <mat-icon style="width: 30px">thumb_down</mat-icon>{{imageSummary.getNumberOfDislikes()}}
    </button>
    <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="showDislikesDetails()">
      <mat-icon>more_horiz</mat-icon>
    </button>
  </div>
  <div class="row">
    <mat-label class="col-md-12">Description</mat-label>
    <mat-form-field appearance="outline" class="col-md-12">
      <textarea matInput placeholder="Description"
                [(ngModel)]="imageSummary.description" [readonly]="readOnly" (input)="onInputChange($event)" ></textarea>
    </mat-form-field>
  </div>
</div>
