<input type="file" #file style="display: none" (change)="onFilesAdded()" multiple />
<div class="container jumbotron" fxLayout="column" fxLayoutAlign="space-evenly stretch">
  <h1 mat-dialog-title>Upload Files</h1>
  <div>
    <button [disabled]="uploading || uploadSuccessful" mat-raised-button color="primary" class="add-files-btn" (click)="addFiles()">
      Add Files
    </button>
  </div>

  <!-- This is the content of the dialog, containing a list of the files to upload -->
  <mat-card-content fxFlex>
    <mat-list>
      <mat-list-item *ngFor="let fileUploadCommand of fileUploadCommands">
        <h4 mat-line>{{fileUploadCommand.file.name}}</h4>
        <input *ngIf="!progress" type="text" placeholder="image title" [(ngModel)]="fileUploadCommand.title">
        <input *ngIf="!progress" type="text" placeholder="image description" [(ngModel)]="fileUploadCommand.description">
        <mat-progress-bar *ngIf="progress" mode="determinate" [value]="progress[fileUploadCommand.file.name].progress | async"></mat-progress-bar>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <!-- This are the actions of the dialog, containing the primary and the cancel button-->
  <mat-card-content class="actions">
    <button *ngIf="showCancelButton" mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!canBeClosed" (click)="closeDialog()">{{primaryButtonText}}</button>
  </mat-card-content>
</div>
