<div align="center" class="jumbotron">

<table *ngIf="dataIsAvailable" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef> Role </th>
    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
  </ng-container>

  <ng-container matColumnDef="isNotLocked">
    <th mat-header-cell *matHeaderCellDef> Active Account </th>
    <td mat-cell *matCellDef="let element"> {{element.isNotLocked}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="enableLockButtons(row)"></tr>
</table>
  <br>
  <button class="btn btn-danger" type="button" (click)="lockSelectedUser()" [disabled]="alreadyLocked()">Lock User</button>
  <button class="btn btn-info" type="button" (click)="unlockSelectedUser()" [disabled]="alreadyUnlocked()">Unlock User</button>
</div>
