/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

@import '~ngx-toastr/toastr.css';


.mat-table__wrapper .mat-table {
  min-width: auto !important;
  width: 100% !important;
}

.mat-header-row {
  width: 100%;
}

.mat-row {
  width: 100%;
}

#toast-container > div {
  opacity:1;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
  flex: 0 0 30%;
}

.mat-cell:nth-child(5),
.mat-header-cell:nth-child(5) {
  flex: 0 0 10%;
}

table {
  width: 100%;
}
