<div class="container jumbotron">
  <h1>Training details</h1>
  <form [formGroup]="trainingForm" class="align-content-center" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label *ngIf="!isCreateMode()">
        Skill Name:
        <input type="text" formControlName="skillName" class="form-control" required>
        <div *ngIf="shouldShowError(trainingForm.get('skillName'))"
             class="alert alert-danger">
          <app-required [form]="trainingForm.get('skillName')" errorMessage="Skill name is required"></app-required>
        </div>
      </label>
      <app-skill-picker (selectedSkillEmitter)="fillSkillField($event)"></app-skill-picker>
    </div>
    <div class="form-group">
      <label>
        Facilities Description:
        <textarea type="text" formControlName="facilitiesDesc" class="form-control" required></textarea>
        <app-required [form]="trainingForm.get('facilitiesDesc')"
                      errorMessage="Facilities should be described"></app-required>
      </label>
    </div>
    <div class="form-group">
      <label>
        Prerequisites:
        <textarea type="text" formControlName="prerequisitesDesc" class="form-control" required></textarea>
        <app-required [form]="trainingForm.get('prerequisitesDesc')"
                      errorMessage="Prerequisites should be described"></app-required>
      </label>
    </div>
    <div class="form-group" *ngIf="!isCreateMode()">
      <label>
        Mentor email address:
        <input type="text" formControlName="emailAddress" class="form-control">
      </label>
    </div>
    <div class="form-group">
      <label class="form-group">
        Number of trainings done:
        <input type="number" formControlName="noOfTrainingsDone" class="form-control">
        <div *ngIf="shouldShowError(trainingForm.get('noOfTrainingsDone'))"
             class="alert alert-danger">
          <div *ngIf="trainingForm.get('noOfTrainingsDone').errors.required">
            You must provide a number
          </div>
          <div *ngIf="trainingForm.get('noOfTrainingsDone').errors.pattern">
            The value introduced is not a number
          </div>
        </div>
      </label>
    </div>
    <div class="form-group" *ngIf="!isCreateMode()">
      <label>
        Mentor name:
        <input type="text" formControlName="mentorName" class="form-control">
      </label>
    </div>
    <div class="form-group">
      <label *ngIf="!isCreateMode()">
        Start date:
        <input type="datetime-local" formControlName="startDate" class="form-control">
      </label>
      <app-datepicker selectDatePlaceHolder="Select a date" (dateEmitter)="fillFormWithStartDate($event)"></app-datepicker>
    </div>
    <div class="form-group">
      <label *ngIf="!isCreateMode()">
        End date:
        <input type="datetime-local" formControlName="endDate" class="form-control">
      </label>
      <app-datepicker selectDatePlaceHolder="Select a date" (dateEmitter)="fillFormWithEndDate($event)"></app-datepicker>
    </div>

    <div class="form-group">
      <label>
        Price (in USD):
        <input type="number" formControlName="fee" class="form-control">
      </label>
    </div>
    <div *ngIf="shouldDisplayUsersThatBookedTheTraining()">
      <mat-toolbar>Trainees that booked this training:</mat-toolbar>
      <br>
      <div class="form-group">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let trainee of traineesBooked">
            {{trainee}}
          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="hasUserRole()">
      <mat-toolbar>{{bookingMessage}}</mat-toolbar>
    </div>
    <button *ngIf="mode==='create'" class="btn btn-success" type="submit" [disabled]="!trainingForm.valid">Submit
    </button>
    <button *ngIf="mode==='view' && !hasUserRole()" class="btn btn-success" (click)="enterEditMode()">Edit</button>
    <button *ngIf="mode==='view' && shouldDisplayBookButton()" class="btn btn-success" type="button" (click)="bookTraining()">Book
      Training
    </button>
    <button *ngIf="mode==='view' && shouldDisplayCancelBookingButton()" class="btn btn-danger"
            type="button" (click)="cancelBookingTraining()">
      Cancel Booked Training
    </button>

    <button *ngIf="mode==='edit'" class="btn btn-success" type="button" (click)="saveModifications()"
            [disabled]="!trainingForm.valid">Save
    </button>
    <button *ngIf="mode==='edit'" class="btn btn-danger" (click)="cancelEdit()">Cancel</button>
  </form>
</div>
