<div *ngIf="imageSummary">
  <mat-toolbar>{{imageSummary.getTitle()}}</mat-toolbar>
  <div class="row">
    <mat-form-field class="col-md-12" *ngIf="!readOnly">
      <input matInput placeholder="New Title" [(ngModel)]="newTitle" [value]="newTitle"/>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" *ngIf="canEdit()" (click)="enterEditMode()">Edit</button>
  <button mat-raised-button color="primary" *ngIf="!readOnly" (click)="updateIdentificationInfo()">Save</button>
  <button mat-raised-button color="primary" *ngIf="!readOnly" (click)="cancelModifications()">Cancel</button>
  <app-image-details [imageSummary]="imageSummary"
                     [readOnly]="readOnly"
                     (descriptionChange)="updateDescription($event)">
  </app-image-details>


  <mat-toolbar>Comments</mat-toolbar>
  <div>
    <mat-form-field appearance="outline" class="col-md-12">
      <mat-label>Add comment</mat-label>
      <textarea matInput placeholder="New comment..." [(ngModel)]="newComment" [value]="newComment"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addComment()" [disabled]="isEmptyString(newComment)">Add
      comment
    </button>
  </div>
  <div *ngIf="comments">
    <mat-card *ngFor="let comment of comments">
      <mat-card-title>{{comment.fullName}}</mat-card-title>
      <mat-form-field appearance="outline" class="col-md-12">
        <textarea matInput placeholder="Description" [value]="comment.value" [readonly]="comment.isNotInEditMode()" [(ngModel)]="comment.value"></textarea>
      </mat-form-field>
      <div id="likes">
        <button mat-icon-button aria-label="Example icon-button with a heart icon" color="primary" (click)="like(comment)">
          <mat-icon>thumb_up</mat-icon>{{comment.getNumberOfLikes()}}
        </button>
        <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="showCommentLikesDetails(comment)">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon-button with a heart icon" color="warn" (click)="dislike(comment)">
          <mat-icon>thumb_down</mat-icon>{{comment.getNumberOfDislikes()}}
        </button>
        <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="showCommentDislikesDetails(comment)">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </div>
      <div *ngIf="commentAuthorIsLoggedUser(comment) && comment.isNotInEditMode()">
        <button mat-raised-button color="primary" (click)="enterEditComment(comment)">Edit
        </button>
        <button mat-raised-button color="warn" (click)="deleteComment(comment)">Delete
        </button>
      </div>
      <div *ngIf="comment.isInEditMode()">
        <button mat-raised-button color="primary" (click)="saveCommentModification(comment)">Save
        </button>
        <button mat-raised-button color="primary" (click)="cancelEditOfComment(comment)">Cancel
        </button>
      </div>
    </mat-card>
  </div>
</div>

